# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Env / secrets
.env
.env.local
.latam_cookies.json

# IDE
.vscode/
.idea/

# Logs
*.log

# Build
dist/
build/

# Docker
.docker/

# Alembic SQLite local (se usado em testes)
*.db
*.sqlite3
